<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">

    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">DPE Banco de Horas</title>
</head>
<body>
    <div layout:fragment="content">
        <p>Algo errado não está certo! Tente recarregar a página...</p>
    </div>
</body>
<footer>
    <script th:src="@{/external/jquery-3.3.1.min.js}" src="/external/jquery-3.3.1.min.js"></script>
</footer>
</html>